/*     
    Author     : Konstantinov Dmitrii
    e-mail: aser00707@ya.ru
*/

.canvas{
    width: 100%;
    height: auto;
    overflow: auto;
    display: inline-flex;
    align-items: center;
}

.sign{
    font-size: 2em;
    display: flex;
    align-items: center;
    font-weight: 100;
    font-family: monospace;
}
.sign_group{
    display: flex;
    flex-direction: row;
}

td input{
    width: 2em !important;
}